List((
    texture_width: 42,
    texture_height: 14,
    sprites: [
        (
            x: 0,
            y: 0,
            width: 14,
            height: 14,
        ),
        (
            x: 14,
            y: 0,
            width: 14,
            height: 14,
        ),
        (
            x: 28,
            y: 0,
            width: 14,
            height: 14,
        )
    ],
))