(
  axes: {
    "p1_vertical": Emulated(pos: Key(W), neg: Key(S)),
    "p1_horizontal": Emulated(pos: Key(D), neg: Key(A)),

    "p2_vertical": Emulated(pos: Key(Up), neg: Key(Down)),
    "p2_horizontal": Emulated(pos: Key(Right), neg: Key(Left)),
  },
  actions: {
    "pause": [ [Key(Escape)] ],
    "toggle_fire": [[Key(Space)]],
  },
)
